@use "sass:math";
@import "_fonts.scss";
@import "_reset.scss";
@import "_mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");


$mainColor: #000;
$main-bg: #fff;

// Мінімальна ширина сторінки@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1320;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

body {
	font-family: 'Open Sans', sans-serif;
	color: $mainColor;
	background-color: $main-bg;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1350px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

}

// **********header*********
.header {
	position: sticky;
	top: 0;
	left: 0;
	background-color: #f3f4f4;
	z-index: 50;


	&__container {

		padding-top: 31px;
		@include adaptiveValue("padding-top", 31, 10);
		background-color: #f3f4f4;
		z-index: 50;
	}


	&__top {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		vertical-align: middle;
		padding-bottom: 25px;
		column-gap: 10px;
		border-bottom: 1px solid #E3E3E3;
		position: relative;
		z-index: 50;
		background-color: #f3f4f4;
		@include adaptiveValue("padding-bottom", 25, 10);
	}

	&__top-margin {
		margin-bottom: 30px;
		@include adaptiveValue("margin-bottom", 30, 10);
	}

	&__button {
		display: flex;
		flex-shrink: 0;
		flex-basis: 20px;
		max-height: 20px;
		transition: transform 0.3s linear;

		@media (max-width: 768px) {
			flex-basis: 25px;
			max-height: 25px;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.2);
			}
		}



		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			aspect-ratio: 1/1;
		}
	}

	&__logo {
		display: flex;
		flex-shrink: 1;
		max-width: 180px;
		max-height: 34px;
		min-width: 90px;
		min-height: 20px;
		transform: translateX(30%);

		@media (max-width: 767.98px) {
			transform: translateX(0);
		}



	}

	&__image-logo {

		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 180/34;

	}

	.profile {
		display: inline-flex;
		column-gap: 22px;
		flex-wrap: nowrap;
		vertical-align: middle;
		align-items: center;
		align-self: center;
		@include adaptiveValue("column-gap", 22, 12);


		&__account {
			display: flex;
			flex-wrap: nowrap;
			gap: 8px;
			vertical-align: middle;
			align-items: center;
			align-self: center;
			transition: transform 0.3s linear;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
					transform: scale(1.05);
				}
			}

		}

		&__icon {
			display: flex;
			flex-basis: 20px;
			max-height: 19px;
			flex-shrink: 0;

			@media (max-width: 768px) {
				flex-basis: 25px;
				max-height: 25px;
			}


		}

		&__text {

			color: var(--Black, #1E2832);
			font-family: 'Roboto', sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: capitalize;

			@media (max-width: 767.98px) {
				display: none;
			}
		}
	}

	// *******************************
	// ***********header__bottom********

	&__bottom {
		padding: 0;

	}

	.nav {
		background-color: #f3f4f4;



		&__menu {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			column-gap: 57px;
			row-gap: 20px;

			@media (max-width: 767.98px) {
				justify-content: center;
				padding: 15px;
				flex-direction: column;
				align-items: center;

			}

			@media (max-width: 1340px) {
				justify-content: space-around;
			}
		}




		&__item {
			display: flex;
			align-self: center;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}



		&__link {
			font-style: normal;
			font-weight: 400;
			line-height: 1.5;
			text-transform: capitalize;
		}
	}
}

/* ******кнопка Меню Бургер************ */

.menu-icon {

	z-index: 3;
	display: block;
	position: relative;
	height: 21px;
	width: 30px;
	flex-shrink: 0;

	@media (min-width: 768px) {
		display: none;
	}

	@media (max-width: 767.98px) {
		display: block;

	}


	&::before,
	&::after,
	&__line {
		content: "";
		height: 3px;
		width: 100%;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #000;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	& span {
		top: 50%;
		transform: translate(0px, -50%);
	}
}

.menu-open .menu-icon::before {
	transform: rotate(-45deg);
	top: 50%;
	margin-top: -1px;
}

.menu-open .menu-icon::after {
	transform: rotate(45deg);
	bottom: 50%;
	margin-bottom: -1px;
}

.menu-open .menu-icon span {
	transform: scale(0);
}

.header__burger {
	z-index: -10;
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	transition: all 0.3s;
	width: 40%;
	height: 100%;
	overflow: auto;
	padding-top: 80px;
	padding-bottom: 30px;
	@include adaptiveValue("padding-top", 80, 60, 0, 767.98, 320);

}

.header__burger::before {
	content: "";
	position: fixed;
	top: 0;
	right: -100%;
	transition: all 0.3s;
	width: 100%;
	height: 50px;

	z-index: 2;
}

.menu-open .header__burger {
	right: 0;
}

.menu-open .header__burger::before {
	right: 0;
}

.burger-header__container {
	padding: 0;
}

// ************************

// // *************Page************
// *******Collection*********
.collections {
	background-color: #f3f4f4;
	font-family: 'Roboto', sans-serif;
	position: relative;

	.branch-left {
		position: absolute;
		display: flex;
		flex-shrink: 0;
		flex: 1 0 132px;
		max-height: 67px;
		left: -1%;
		bottom: 30%;

		&__image {
			width: 100%;
			height: 100%;
			aspect-ratio: 132/67;
			object-fit: cover;
		}

		@media (max-width: 885px) {
			bottom: 90%;
		}
	}

	.branch-right {
		position: absolute;
		display: flex;
		flex-shrink: 0;

		flex-grow: 1;
		flex-basis: 195;
		max-height: 262px;
		right: -4%;
		bottom: 30%;
		@include adaptiveValue("flex-basis", 195, 60);
		@include adaptiveValue("max-height", 265, 90);

		@media (max-width: 885px) {
			bottom: 70%;
		}

		@media (max-width: 642px) {
			bottom: 90%;
		}

		&__image {
			width: 100%;
			height: 100%;
			aspect-ratio: 195/262;
			object-fit: contain;
			transform: rotate(-5deg);
		}
	}



	&__container {

		padding-top: 141px;
		padding-right: 93px;
		padding-bottom: 20px;
		padding-left: 31px;
		display: flex;
		flex-wrap: wrap;

		column-gap: 98px;
		vertical-align: middle;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 141, 50);
		@include adaptiveValue("padding-right", 93, 15);
		@include adaptiveValue("padding-left", 31, 15);

		@media (max-width: 1350px) {
			justify-content: center;
			column-gap: 98px;
			row-gap: 10px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		flex-basis: 682px;
		row-gap: 52px;
		flex-grow: 0;
		flex-shrink: 1;
		padding-top: 74px;
		padding-bottom: 124px;
		align-items: flex-start;
		@include adaptiveValue("padding-bottom", 124, 30);
		@include adaptiveValue("padding-top", 74, 10);

		@media (max-width: 1350px) {
			justify-content: center;
			align-items: center;

		}

	}


	&__title {

		font-size: 74px;
		font-style: normal;
		font-weight: 300;
		line-height: 0.74;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 74, 30);
	}

	&__subscribe {
		display: flex;
		font-size: 30px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.83;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 30, 18);
		justify-content: center;

		@media (max-width: 1350px) {
			text-align: center;
		}

	}


	&__picture {
		position: relative;
		display: flex;
		flex-basis: 424px;
		flex-grow: 0;
		flex-shrink: 1;
		max-height: 542px;
		border-radius: 160px 0 160px 0;
		z-index: 10;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 3%;
			right: -4%;
			z-index: 1;
			border-radius: 160px 0 160px 0;
			border: 2px solid rgba(0, 0, 0, 0.25);
			// @include adaptiveValue("top", -20, -5, 0, 992, 320);
			// @include adaptiveValue("right", -20, -5, 0, 992, 320);
		}

		img {
			border-radius: 160px 0 160px 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 424/542;
			z-index: 10;
		}
	}
}

.shop-button {
	display: flex;
	padding: 19px 26px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background: #1E2832;
	transition: background 0.4s;

	@media (any-hover: hover) {
		&:hover {
			background: #1e283285;
		}
	}


	&__image {
		width: 24px;
		height: 24px;
	}

	// .shop-button__text

	&__text {
		color: #FFF;
		font-size: 29px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
	}
}

// // **********************
// *********Brands*******

.brands {
	background-color: #FFF;

	// .brands__container

	&__container {
		padding-top: 90px;
		padding-bottom: 90px;
		@include adaptiveValue("padding-bottom", 90, 20);
		@include adaptiveValue("padding-top", 90, 20);
	}

	// .brands__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// column-gap: 20px;
		row-gap: 20px;

		@media (max-width: 1030px) {
			justify-content: space-around;
		}


	}

	// .brands__item

	&__item {
		display: flex;
		align-self: center;
		flex-basis: 200px;
		flex-shrink: 1;
		flex-grow: 0;
		max-height: 70px;
		@include adaptiveValue("flex-basis", 200, 120);
		@include adaptiveValue("max-height", 70, 40);
	}

	// .brands__image

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 200/70;
	}
}

//**************************
//**********Styles*********
.styles {
	padding-top: 90px;
	padding-bottom: 140px;
	@include adaptiveValue("padding-top", 90, 20);
	@include adaptiveValue("padding-bottom", 140, 30);

	// .styles__container

	&__container {
		position: relative;

	}

	// .styles__title

	&__title {
		@media (min-width: 1402px) {
			position: absolute;
			left: -3%;
			top: 1%;
			writing-mode: vertical-lr;
			transform: rotate(180deg);

		}

		padding: 10px;
		text-align: center;
		font-family: "Roboto",
		sans-serif;
		font-size: 34px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}

	// .styles__block

	&__block {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		column-gap: 24px;
		row-gap: 24px;
		@include adaptiveValue("column-gap", 24, 10);
		@include adaptiveValue("row-gap", 24, 10);

		@media (max-width: 767.98px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media ((max-width: 479.98px)) {
			grid-template-columns: 1fr;
		}
	}

	// .styles__item

	&__item {
		position: relative;
		display: flex;
		max-height: 312px;
		flex-basis: 312px;
		flex-grow: 1;
		flex-shrink: 1;

		z-index: 2;

		@media (min-width: 767.98px) {
			&:nth-child(5n+1) {
				display: flex;
				max-height: 648px;
				flex-basis: 648px;
				flex-grow: 1;
				flex-shrink: 0;
				grid-row: span 2;
				grid-column: span 2;

			}
		}

	}

	&__link {
		position: relative;
		width: 100%;
		height: 100%;
	}

	// .styles__photo

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 312/312;
	}
}

.action {
	position: absolute;
	top: 10%;
	left: 0;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	color: #FFF;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;

	&__hot {
		padding: 4px 12px;
		background-color: #FF6F61;
	}



	&__sale {
		padding: 4px 12px;
		background-color: #1E2832;
	}
}

// ********Popular*****

.popular,
.best {

	// .popular__container

	&__container {

		display: flex;
		row-gap: 35px;
		flex-direction: column;
	}

	&__container--margin {
		margin-bottom: 140px;
		@include adaptiveValue("margin-bottom", 140, 10);
	}

	// .popular__title

	&__title {
		text-align: center;
		font-family: "Roboto", sans-serif;
		font-size: 50px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-transform: capitalize;
	}

	// .popular__filter

	&__filter {
		display: flex;
		justify-content: space-between;
	}
}

.filter {
	display: flex;
	justify-content: space-between;

	@media (max-width: 479.98px) {
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
	}

	// .filter__list

	&__list {
		display: flex;
		flex-direction: row;
		column-gap: 39px;
		row-gap: 10px;
		@include adaptiveValue("column-gap", 39, 10);
	}

	// .filter__item

	&__item {
		color: rgba(0, 0, 0, 0.50);
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: capitalize;
		transition: color 0.5s;

		@media (any-hover: hover) {
			&:hover {
				color: #000;

			}
		}


	}

	// .filter__link

	&__link {}

	// .filter__button

	&__button {
		display: flex;
		padding: 5px 15px;
		background: #1E2832;
		align-items: center;
		vertical-align: middle;
		column-gap: 4px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	// .filter__icon

	&__icon {}

	// .filter__text

	&__text {
		color: #FFF;
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
	}
}

.popular,
.best {

	// .popular__blocks




	&__blocks {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		column-gap: 24px;
		row-gap: 24px;

		@media (max-width: 991.98px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 479.98px) {
			grid-template-columns: 1fr;
		}
	}

	// .popular__block

	&__block {
		display: flex;
		flex-basis: 312px;
		flex-shrink: 0;

		flex-direction: column;
		row-gap: 18px;
	}

	// .popular__limage-link

	&__image-link {
		position: relative;
		display: flex;
		flex-basis: 312px;
		max-height: 400px;
		flex-shrink: 0;
		z-index: 2;
	}

	// .popular__photo

	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 312/400;
	}



	&__subtitle {}

	color: #000;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;


	&__category {
		display: flex;
		justify-content: space-between;
	}
}

.category {


	// .category__name

	&__name {
		color: rgba(0, 0, 0, 0.50);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
	}

	// .category__price

	&__price {
		display: flex;
		justify-content: space-between;
		column-gap: 12px;
		row-gap: 12px;
	}

	// .category__full

	&__full {
		color: rgba(0, 0, 0, 0.50);
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-decoration: line-through;
		text-transform: capitalize;
	}

	// .category__sale

	&__sale {
		color: #FF6F61;
		text-decoration: line-through;
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: capitalize;
	}
}



.best {

	// .best__container

	&__container {
		display: flex;
		row-gap: 35px;
		flex-direction: column;

	}

	&__container--margin {
		margin-bottom: 140px;
		@include adaptiveValue("margin-bottom", 140, 10);

	}

	&__blocks {
		display: flex;
		flex-wrap: nowrap;
		column-gap: 24px;
		row-gap: 24px;
		overflow-x: scroll;
	}
}

.zara {
	background: url("../img/main/zara/background.webp") 0 0 / cover no-repeat;

	// .zara_container

	&__container {
		position: relative;
		display: flex;
		justify-content: center;
		column-gap: 20px;
		row-gap: 25px;
		z-index: 5;

		@media (max-width: 767.98px) {
			flex-direction: column-reverse;

		}


	}

	// .zara__left

	&__left {
		padding-top: 135px;
		padding-bottom: 5px;
		display: flex;
		flex-basis: 580px;
		max-height: 660px;
		flex-grow: 0;
		flex-shrink: 1;

		@media (max-width: 767.98px) {
			padding-top: 0;
		}
	}

	// .zara__girl

	&__girl {

		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 486/513;
	}

	// .zara__right

	&__right {
		// padding-top: 233px;
		// padding-bottom: 93px;
		display: flex;
		align-self: center;
		flex-basis: 504px;

		flex-grow: 0;
		flex-shrink: 1;
		flex-direction: column;
		row-gap: 55px;
		justify-content: flex-start;
	}

	// .zara__logo

	&__logo {
		display: flex;
		align-self: start;
		flex-basis: 191px;
		max-height: 81px;
		flex-grow: 0;
		flex-shrink: 1;
	}

	// .zara__image-logo

	&__image-logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 191/81;
	}

	// .zara__subscribe

	&__subscribe {
		color: #FFF;
		font-family: "Roboto", sans-serif;
		font-size: 26px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.54;
		/* 153.846% */
		text-transform: capitalize;
	}

	// .zara__button

	&__button {
		display: flex;
		flex-grow: 0;
		align-self: start;
		padding: 19px 26px;
		background: #FFF;
		color: #1E2832;
		font-family: "Roboto", sans-serif;
		font-size: 29px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
		transition: background 0.3s;

		@media (any-hover: hover) {
			&:hover {
				background: #9d3838;
			}
		}
	}

	// .zara__shadow

	&__shadow {
		position: absolute;
		top: 5%;
		right: -5%;
		display: flex;
		flex-basis: 732px;
		max-height: 309px;
		flex-shrink: 1;
		flex-grow: 1;
		z-index: 2;

		@media (max-width: 767.98px) {
			top: 50%;
		}
	}

	// .zara__image-shadow

	&__image-shadow {
		width: 100%;
		height: 100%;
		aspect-ratio: 732/309;
		object-fit: contain;
	}
}


.insta {

	background-color: #f3f4f4;

	// .insta__container

	&__container {
		padding-top: 100px;
		padding-bottom: 100px;
		display: flex;
		flex-direction: column;
		row-gap: 70px;


	}

	// .insta__top

	&__top {
		display: flex;
		flex-direction: column;
		row-gap: 60px;

	}

	// .insta__title

	&__title {
		color: #000;
		text-align: center;
		font-family: "Roboto", sans-serif;
		font-size: 50px;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 50, 25);
	}

	// .insta__pictures

	&__pictures {
		display: flex;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 24px;
		justify-content: center;

	}

	// .insta__image
	&__image {
		display: flex;
		flex-basis: 200px;
		flex-direction: column;
		row-gap: 10px;

	}

	&__link {
		display: flex;
		flex-basis: 200px;
		max-height: 200px;
		flex-shrink: 0;
		flex-grow: 0;

		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 200/200;
			object-fit: cover;
		}
	}
}

.insta--margin {
	margin-bottom: 140px;
	@include adaptiveValue("margin-bottom", 140, 20);
}

.bottom-insta {
	display: flex;
	flex-direction: column;
	row-gap: 74px;
	justify-content: center;
	align-items: center;

	// .bottom_insta__title

	&__title {
		color: #000;
		text-align: center;
		font-family: "Roboto", sans-serif;
		font-size: 50px;
		font-weight: 500;
		text-transform: capitalize;
		@include adaptiveValue("font-size", 50, 20);
	}

	// .bottom_insta__form

	&__form {}

	// .bottom_insta__line-form

	&__line-form {
		justify-content: center;
		display: flex;
		column-gap: 26px;
	}

	// .bottom_insta__input

	&__input {
		display: flex;
		flex-basis: 643px;
		flex-shrink: 0;
		flex-grow: 0;
		max-height: 32px;
		padding: 15px;
		border-bottom: 2px solid #000;

		@media (max-width: 767.98px) {
			flex-shrink: 1;
		}

		transition: border-color 0.3s;

		@media (any-hover: hover) {
			&:hover {
				border-color: #d74e4e;
			}
		}


		&::placeholder {
			color: rgba(30, 40, 50, 0.50);
			font-family: "Roboto", sans-serif;
			font-weight: 600;
			text-transform: capitalize;
		}
	}

	// .bottom_insta__button

	&__button {
		color: #1E2832;
		text-align: center;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		text-transform: capitalize;
		border-bottom: 2px solid #000;
		transition: all 0.3s;

		@media (any-hover: hover) {
			&:hover {
				border-color: #d74e4e;
				color: #d74e4e;
			}
		}

		// &::after {
		// 	content:'';
		// 	padding-top: 10px;
		// 	border-bottom: 2px solid #000;
		// }

	}
}

.footer {

	// .footer__container

	&__container {}

	// .footer__above

	&__above {}

	// .footer__below

	&__below {}
}

.above--margin {
	margin-bottom: 90px;
}

.above {
	// flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	column-gap: 56px;
	row-gap: 30px;
	flex-grow: 0;
	flex-shrink: 0;
	@include adaptiveValue("column-gap", 56, 10);

	// @media (max-width: 1090px) {
	// 	flex-direction: column;
	// 	justify-content: center;
	// }

	// .above__left

	&__left {
		display: flex;
	align-self: flex-start;
		flex-direction: column;
		flex-basis: 392px;
		flex-shrink: 1;
		flex-grow: 0;
		row-gap: 32px;

		// @media (min-width: 1090px) {
		// 	flex-basis: 392px;
		// }

		// @media (max-width: 1090px) {
		// 	justify-content: center;
		// 	align-items: center;
		// }
	}

	// .above__logo

	&__logo {
		display: flex;
		flex-basis: 180px;
		max-height: 34px;
		flex-grow: 1;
		flex-shrink: 0;
		align-self: start;

		// @media (max-width: 1090px) {
		// 	align-self: center;
		// }

	}

	// .above__image-logo

	&__image-logo {
		width: 100%;
		height: 100%;
		object-fit: contain;
		aspect-ratio: 180/34;
	}

	&__text {
		color: rgba(30, 40, 50, 0.75);
		font-weight: 400;
		text-transform: capitalize;

		// @media (max-width: 1090px) {
		// 	text-align: center;
		// }
	}

	// .above__social


	.social {

		// .social__list

		&__list {
			display: flex;
			flex-direction: row;
			column-gap: 36px;
			row-gap: 10px;
		}

		// .social__item

		&__item {
			width: 25px;
			height: 25px;
			transition: transform 0.4s;

			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.2);

				}
			}
		}

		// .social__icon

		&__icon {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 1/1;
		}
	}
}

.right-above {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 30px;
	flex-grow: 1;
	flex-shrink: 1;
	// flex-basis: 872px;

	// @media (max-width: 1090px) {
	// 	justify-content: center;
	// 	flex-direction: row;
	// 	flex-grow: 0;

	// }

	// .right-above__block

	&__block {
		display: flex;
		flex-direction: column;
		flex-basis: 200px;
		flex-shrink: 0;
		flex-grow: 0;
		row-gap: 22px;

	}

	// .right-above__title

	&__title {
		font-weight: 600;
		text-transform: capitalize;
	}

	// .right-above__list

	&__list {
		display: flex;

		flex-direction: column;
		row-gap: 12px;
	}

	// .right-above__item

	&__item {}

	// .right-above__link

	&__link {
		color: #1E2832;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.71;
		/* 171.429% */
		text-transform: capitalize;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}



.footer {


	// .footer__below

	&__below {}
}

.below {
	background: #1E2832;


	// .below__container

	&__container {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	// .below__other

	&__other {
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
	}

	// .below__year

	&__year {
		display: flex;
		align-self: center;
		color: #FFF;
		font-weight: 400;
		text-transform: capitalize;
	}

	// .below__payments

	&__payments {}

	// .below__button

	&__button {}
}

.payments {
	display: flex;
	align-self: center;

	// .payments__link

	&__link {
		display: flex;
		flex-basis: 283px;
		max-height: 24px;
		flex-shrink: 1;
		flex-grow: 0;

	}

	// .payments__icon

	&__icon {
		display: flex;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 283/24;
	}
}

.scroll {
	display: flex;
	flex-wrap: wrap;
	column-gap: 4px;
	row-gap: 4px;

	@media (any-hover: hover) {
		&:hover {
			text-decoration: underline;
			color: #FFF;
		}
	}

	// .scroll__text

	&__text {
		display: flex;
		align-self: center;
		vertical-align: middle;
		color: #FFF;
		font-weight: 400;
		text-transform: capitalize;

	}

	// .scroll__icon

	&__icon {
		display: flex;
		align-self: center;
		vertical-align: middle;
		width: 20px;
		height: 20px;
	}
}


// 	// .editor__container

// 	&__container {
// 		display: flex;
// 		flex-wrap: wrap;
// 		padding-left: 15px;
// 		padding-right: 15px;
// 		padding-top: 92px;
// 		padding-bottom: 80px;

// 		position: relative;
// 		justify-content: center;
// 		@include adaptiveValue("padding-top", 92, 23);
// 		@include adaptiveValue("padding-bottom", 80, 20);


// 	}

// 	&__rainbow-left {
// 		position: absolute;
// 		top: 0;
// 		left: -10%;

// 		@media (max-width: 767.98px) {
// 			top: 15%;
// 			left: -20%;
// 		}

// 		img {
// 			@media (max-width: 767.98px) {

// 				border-radius: 50%;
// 				height: 120px;
// 				width: 120px;
// 				opacity: 0.6;
// 			}
// 		}
// 	}


// 	&__right-rainbow {
// 		position: absolute;
// 		bottom: 12%;
// 		right: -10%;

// 		@media (max-width: 1302px) {
// 			bottom: 8%;

// 		}

// 		@media (max-width: 767.98px) {
// 			bottom: 0;
// 			right: -20%;
// 		}

// 		img {
// 			@media (max-width: 767.98px) {
// 				height: 120px;
// 				width: 120px;
// 				border-radius: 50%;
// 				opacity: 0.6;

// 			}
// 		}
// 	}




// 	&__wrapper {

// 		display: flex;
// 		flex-wrap: wrap;
// 		column-gap: 58px;
// 		row-gap: 20px;
// 		// flex-direction: row;
// 		column-gap: 224px;
// 		z-index: 10;




// 		@media (max-width: 1380px) {
// 			column-gap: 120px;

// 		}

// 		@media (max-width: 1350px) {
// 			justify-content: center;
// 			column-gap: 50px;





// 		}
// 	}

// 	//  editor__ left
// 	&__left {
// 		display: flex;
// 		gap: 10px;
// 		flex-basis: 584px;
// 		align-self: center;
// 	}

// 	.second-left {
// 		position: relative;
// 		display: flex;
// 		flex-grow: 0;
// 		flex-shrink: 1;
// 		flex-basis: 200px;
// 		align-self: flex-end;
// 		// flex-direction: row-reverse;
// 		z-index: 10;
// 		display: none;

// 		@media (max-width: 767.98px) {
// 			display: block;
// 		}


// 		&__big-image {
// 			position: relative;
// 			width: 100%;
// 			z-index: 10;


// 			img {

// 				width: 100%;
// 				height: 100%;
// 				object-fit: contain;
// 				aspect-ratio: 315/377;
// 			}
// 		}



// 		&__pr {
// 			position: absolute;
// 			width: 70%;
// 			z-index: 10;
// 			top: -20%;
// 			left: 0;
// 			transform: rotate(35deg);

// 			img {
// 				width: 50%;
// 				height: 50%;
// 				object-fit: contain;
// 				aspect-ratio: 1/1;
// 			}
// 		}




// 		&__ae {
// 			position: absolute;
// 			width: 70%;

// 			z-index: 10;
// 			top: -10%;
// 			right: 0;

// 			img {
// 				width: 50%;
// 				height: 50%;
// 				object-fit: contain;
// 				aspect-ratio: 1/1;
// 			}
// 		}


// 	}



// 	&__text {
// 		position: relative;
// 		width: 584px;
// 		padding-top: 28px;
// 		display: flex;
// 		flex-wrap: wrap;
// 		row-gap: 15px;
// 		flex-direction: column;
// 		z-index: 10;
// 		flex-shrink: 1;
// 		@include adaptiveValue("width", 584, 233);




// 	}



// 	&__name {
// 		font-family: 'Exo', sans-serif;
// 		font-size: 18px;
// 		font-style: normal;
// 		font-weight: 400;
// 		line-height: 1.11;
// 		/* 111.111% */
// 		letter-spacing: -0.36px;
// 		text-transform: uppercase;
// 		display: flex;
// 		gap: 10px;
// 		flex-direction: column;

// 		&::after {
// 			content: "";
// 			height: 1px;
// 			width: 152px;
// 			background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
// 		}

// 		@include adaptiveValue("font-size", 18, 14);
// 	}



// 	&__title {
// 		// display: flex;
// 		// flex-wrap: wrap;
// 		font-family: 'Exo', sans-serif;
// 		font-size: 80px;
// 		font-style: normal;
// 		font-weight: 700;
// 		line-height: 0.875;
// 		/* 87.5% */
// 		text-transform: uppercase;
// 		@include adaptiveValue("font-size", 80, 32);


// 	}

// 	// .editor__another

// 	&__another {
// 		font-family: 'Exo', sans-serif;

// 		font-size: 18px;
// 		font-style: normal;
// 		font-weight: 400;
// 		line-height: 2.22;
// 		/* 222.222% */
// 		letter-spacing: -0.36px;
// 		text-transform: capitalize;
// 		@include adaptiveValue("font-size", 18, 14);

// 	}

// 	// .editor__button

// 	&__button {
// 		display: flex;
// 		justify-content: left;

// 	}

// 	// .editor__text-button

// 	&__info-button {
// 		color: #FFF;
// 		font-family: 'Orbitron', sans-serif;
// 		font-size: 20px;
// 		font-style: normal;
// 		font-weight: 900;
// 		line-height: 1;
// 		text-transform: uppercase;
// 		padding: 15px 60px;
// 		background: #6F00A9;
// 		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
// 		transition: background 0.4s;

// 		@media (any-hover: hover) {
// 			&:hover {
// 				background: #ad6ad0;
// 			}
// 		}

// 		@media (max-width: 700px) {
// 			padding: 8px 40px;
// 			font-size: 14px;
// 		}

// 	}

// 	// .editor__right

// 	&__right {
// 		display: flex;
// 		position: relative;
// 		z-index: 10;
// 		flex-basis: 376px;

// 		// max-height: 508px; 

// 		@include adaptiveValue("max-width", 376, 170);


// 	}

// 	&__main-image {
// 		width: 100%;
// 		position: relative;
// 		z-index: 4;

// 		img {
// 			width: 100%;
// 			height: 100%;
// 			aspect-ratio: 376 / 508;
// 			object-fit: cover;
// 		}

// 	}

// 	&__thunder-left {
// 		position: absolute;
// 		bottom: 0;
// 		right: 57%;
// 		width: 90%;
// 		z-index: 2;

// 		img {
// 			width: 100%;
// 			height: 100%;
// 			aspect-ratio: 315 / 377;
// 			object-fit: contain;
// 		}

// 		@media (max-width: 767.98px) {
// 			display: none;
// 		}



// 	}

// 	// .editor__right-thunder

// 	&__right-thunder {
// 		position: absolute;
// 		bottom: 0;
// 		left: 53%;
// 		width: 90%;
// 		z-index: 2;

// 		img {
// 			width: 100%;
// 			height: 100%;
// 			aspect-ratio: 287 / 322;
// 			object-fit: contain;

// 		}

// 		@media (max-width: 767.98px) {
// 			display: none;
// 		}

// 	}


// 	&__pr {
// 		position: absolute;
// 		top: 0;
// 		right: 90%;
// 		width: 30%;
// 		z-index: 2;

// 		img {
// 			width: 100%;
// 			height: 100%;
// 			aspect-ratio: 1 / 1.2;
// 			object-fit: contain;
// 		}

// 		@media (max-width: 767.98px) {
// 			display: none;
// 		}
// 	}

// 	// .editor__ae

// 	&__ae {
// 		width: 20%;
// 		top: 10%;
// 		right: -20%;
// 		position: absolute;
// 		z-index: 2;

// 		img {
// 			width: 100%;
// 			height: 100%;
// 			aspect-ratio: 1 / 1.1;
// 			object-fit: contain;
// 		}

// 		@media (max-width: 767.98px) {
// 			display: none;
// 		}
// 	}
// }


// .about {

// 	// .about__container

// 	&__container {
// 		padding-top: 120px;
// 		padding-bottom: 120px;

// 		display: flex;
// 		row-gap: 60px;
// 		flex-direction: column;
// 		justify-content: center;
// 		@include adaptiveValue("padding-top", 120, 10);
// 		@include adaptiveValue("padding-bottom", 120, 10);

// 		.social {
// 			&__list {
// 				justify-content: center;
// 			}
// 		}
// 	}

// 	// .about__title
// 	&__top {
// 		// max-width: 992px;

// 		padding-left: 80px;
// 		padding-right: 80px;

// 		display: flex;
// 		row-gap: 20px;
// 		flex-direction: column;
// 		justify-content: center;
// 		align-items: center;
// 		@include adaptiveValue("padding-right", 80, 10);
// 		@include adaptiveValue("padding-left", 80, 10);

// 	}

// 	&__title {
// 		display: flex;


// 		font-family: 'Exo', sans-serif;
// 		font-size: 60px;
// 		font-style: normal;
// 		font-weight: 700;
// 		line-height: 1.16;
// 		text-transform: uppercase;
// 		@include adaptiveValue("font-size", 60, 24);
// 	}




// 	&__line {
// 		width: 401px;
// 		height: 1px;
// 		background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
// 		@include adaptiveValue("width", 401, 142);
// 	}

// 	// .about__text

// 	&__text {
// 		text-align: center;
// 		font-family: 'Exo', sans-serif;
// 		font-size: 18px;
// 		font-style: normal;
// 		font-weight: 400;
// 		line-height: 2.22;
// 		/* 222.222% */
// 		letter-spacing: -0.36px;
// 		text-transform: capitalize;
// 	}

// 	// .about__list

// 	&__part-bottom {
// 		display: flex;
// 		justify-content: space-around;
// 		padding: 0 30px;
// 		display: flex;
// 		flex-wrap: nowrap;

// 		@media (max-width: 1020px) {
// 			padding: 0;
// 		}


// 	}

// 	&__list {
// 		display: flex;
// 		flex-wrap: nowrap;
// 		column-gap: 60px;
// 		overflow-x: auto;

// 		@include adaptiveValue("column-gap", 60, 5);
// 	}

// 	// .about__item

// 	&__item {

// 		flex-shrink: 0;
// 		display: flex;
// 		flex-wrap: nowrap;
// 		column-gap: 60px;
// 		align-items: center;
// 		vertical-align: middle;
// 		font-family: 'Orbitron', sans-serif;
// 		font-size: 20px;
// 		font-style: normal;
// 		font-weight: 500;
// 		line-height: 1.25;
// 		/* 125% */
// 		text-transform: capitalize;
// 		@include adaptiveValue("font-size", 20, 14);
// 		@include adaptiveValue("column-gap", 60, 5);

// 		@media (any-hover: hover) {
// 			&:hover {
// 				text-decoration: underline;
// 			}
// 		}

// 		&::after {
// 			content: '';
// 			display: flex;
// 			flex-shrink: 0;
// 			flex-basis: 10px;

// 			height: 10px;
// 			width: 10px;
// 			border-radius: 50%;
// 			background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);

// 		}
// 	}

// 	&__link {
// 		display: flex;
// 		flex-shrink: 0;
// 	}
// }


// .edits {

// 	// .edits__container

// 	&__container {
// 		display: flex;
// 		flex-direction: column;
// 		row-gap: 20px;
// 		padding-top: 200px;
// 		padding-bottom: 200px;
// 		padding-left: 30px;
// 		padding-right: 30px;
// 		@include adaptiveValue("padding-top", 200, 70);
// 		@include adaptiveValue("padding-bottom", 200, 80);
// 	}



// 	&__title {
// 		@extend .about__title;
// 		@include adaptiveValue("font-size", 60, 24);
// 	}


// 	&__line {
// 		width: 571px;
// 		height: 1px;
// 		background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
// 		@include adaptiveValue("width", 571, 193);
// 	}



// 	&__scroll-wrapper {
// 		padding-top: 120px;

// 	}



// 	&__list-scroll {
// 		display: flex;
// 		overflow-x: auto;
// 		overflow-y: clip;
// 		column-gap: 40px;

// 		@media (max-width: 1020px) {
// 			column-gap: 10px;
// 		}
// 	}



// 	&__list-item {
// 		position: relative;
// 		z-index: 2;
// 		display: flex;
// 		flex-basis: 360px;
// 		flex-shrink: 1;
// 		flex-grow: 0;
// 		gap: 40px;
// 		flex-direction: column;
// 		// max-height: 360px;
// 		align-items: center;
// 		@include adaptiveValue("flex-basis", 360, 100, 0, 900, 320);


// 	}



// 	&__main-link {
// 		position: relative;
// 		display: flex;
// 		width: 100%;
// 		max-width: 360px;
// 		max-height: 360px;

// 		overflow: hidden;
// 		z-index: 2;

// 		@include adaptiveValue("max-width", 360, 190, 0, 1000, 320);
// 		@include adaptiveValue("max-height", 360, 190, 0, 1000, 320);


// 		&__image-main {
// 			position: relative;
// 			z-index: 2;
// 			width: 100%;
// 			height: 100%;
// 			object-fit: cover;
// 			aspect-ratio: 190 / 190;



// 		}


// 	}

// 	&__button {
// 		position: absolute;
// 		width: 120px;
// 		height: 120px;
// 		top: 25%;
// 		left: 35%;
// 		z-index: 9;
// 			// @include adaptiveValue("left", 35, -25, 0, 1000, 320);

// 	}

// 	&__image-button {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		z-index: 10;
// 		border-radius: 50%;
// 		width: 100%;
// 		height: 100%;
// 		transition: opacity 0.4s;
// 		@include adaptiveValue("width", 120, 60, 0, 1000, 320);
// 		@include adaptiveValue("height", 120, 60, 0, 1000, 320);

// 		@media (any-hover: hover) {
// 			&:hover {
// 				opacity: 0.5;
// 			}
// 		}

// 	}

// 	&__subtitle {

// 		font-family: 'Exo', sans-serif;
// 		font-size: 40px;
// 		font-style: normal;
// 		font-weight: 700;
// 		line-height: 1;

// 		text-transform: uppercase;
// 		@include adaptiveValue("font-size", 40, 14, 0, 1000, 320);
// 	}
// }




// .footer {
// 	width: 100%;
// 	position: sticky;
// 	bottom: 0;
// 	left: 0;
// 	background: rgba(0, 0, 0, 0.80);
// 	z-index: 20;

// 	&__container {
// 		padding: 10px;
// 		color: $mainColor;
// 		margin: 0 auto;
// 		text-align: center;
// 	}

// 	&__label {
// 		align-items: center;
// 		text-align: center;
// 		vertical-align: middle;
// 		font-family: "Exo 2", sans-serif;
// 		font-size: 30px;
// 		font-weight: 400;
// 	}
// }