@import url("https://fonts.googleapis.com/css?family=Shantell+Sans:regular,600,800&display=swap");
@import url(fonts.css);
@import url(reset.css);

body {

	font-family: "Proxima Nova", sans-serif;

}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
}

.wrapper>main {
	flex-grow: 1;
}



.header {
	max-width: 1330px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;

}



.first-container {
	/* background-color: #f8f8f8; */
	display: flex;
	padding: 15px 0;
	justify-content: space-between;



}

.contacts {
	display: flex;
	justify-content: left;
}

.contacts__list {
	display: flex;
	margin-right: 336px;

}

.contacts__item {
	display: flex;
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
}


.contacts__item:not(:last-child) {
	margin-right: 30px;

}

/* .contacts__link {} */

.contacts__link:hover {
	text-decoration: underline;
}

.help-and-consult {
	display: flex;
	justify-content: right;


}

.help-and-consult__list {
	display: flex;
	justify-content: right;
	align-items: center;

}

.help-and-consult__item {
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
}

.help-and-consult__item:not(:last-child) {
	margin-right: 10px;
}

.help-and-consult__item:nth-child(1) {
	margin-right: 20px;
}

.help-and-consult__item:nth-child(4) {
	margin-right: 30px;
}






/* .help-and-consult__link {} */

.help-and-consult__lang {
	color: #535353;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.26;
	vertical-align: middle;


}

.help-and-consult__icon {
	border-radius: 50%;
	width: 30px;
	height: 30px;


}

.help-and-consult__icon:hover {
	outline: 2px solid orange;


}

.help-and-consult__arrow {
	height: 24px;
	width: 24px;
	vertical-align: middle;

}


/* *************Друга лінія*************** */
/* НЕ МОЖУ ВСТАНОВИТИ НА ВЕСЬ ВЬЮПОРТ БІЛИЙ ФОН */
.second-container {

	background-color: #fff;

	padding: 25px 5px;
	gap: 30px;
	border-bottom: 2px solid #F8F8F8;
	border-radius: 8px;

}

.main-search {
	display: flex;
	gap: 30px;

}



/* .main-search__logo {} */

.main-search__img-logo {
	width: 250px;
	height: 50px;
	flex-shrink: 0;
}
/* .main-search_catalog {} */

/* .main-search__image-catalog{} */

/* .main-search__text-catalog {} */

.main-search__catalog {
	display: flex;
	background-color: #FFBC57;
	padding: 11px 20px;
	border-radius: 8px;
	align-items: center;
}

.main-search__image-catalog {
	max-width: 24px;
	max-height: 24px;
	margin-right: 10px;
}

.main-search__image-catalog:hover {
	transform: rotate(360deg);
	transition: all 1s;

}

.main-search__text-catalog {
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.3;
	vertical-align: middle;
}




.search-box {
	display: flex;
	width: 420px;
	height: 50px;
	padding: 13px;
	border: 1px solid #B1B1B1;
	border-radius: 8px;
	padding: 10px;
	align-items: center;
	position: relative;

}

.search-box:hover {
	box-shadow: 0 0 10px #B1B1B1;
}


/* .search-box__button {} */


.search-box__button-text {
	color: #B1B1B1;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.87;


}

.search-box__button-img {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 13px;
}

.search-box__button-img:hover {
	transform: rotate(360deg);
	transition: all 1s;

}

.phone {
	width: 230px;
	display: flex;
	gap: 10px;
}

.phone:not(:last-child) {

	display: flex;
}

.phone__icon {
	width: 50px;
	height: 50px;

}

.phone__icon:hover {
	animation: rotate-element 1s infinite alternate;
}

@keyframes rotate-element {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}




.phone__info {
	display: flex;
	flex-direction: column;
}

.phone__text {
	color: #535353;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;

}

.phone__number {

	color: #2B2929;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;

}

.phone__number:hover {
	text-decoration: underline;
}

/* .phone__arrow {} */

.favourites {
	display: flex;
	gap: 20px;

}



.link-favorites {
	border-radius: 50%;
	width: 50px;
	height: 50px;

}

/* .favorites-icon {} */

.link-basket {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.link-basket:hover,
.link-favorites:hover {
	transform: scale(1.1);
}




/* .basket {} */



/* **********ТРЕТІЙ БЛОК ХЕДЕРА************ */

.third-container {
	display: flex;
	background-color: #fff;
	border-radius: 8px;
	padding: 18px 5px;
	justify-content: space-between;
}

/* .header-proposition {} */

.header-proposition__list {
	display: flex;
	gap: 40px;
}

.header-proposition__item {
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 8px;
}

.header-proposition__item:hover {
	outline: 2px solid orange;
}

.header-proposition__icon {
	height: 24px;
	width: 24px;
}

.header-proposition__text {
	color: #535353;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}

/* .kind-menu {} */

.kind-menu__list {
	display: flex;
	gap: 40px;
}

.kind-menu__item {
	color:  #535353;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	border-radius: 8px;
		
}

.kind-menu__item:hover {
	outline: 2px solid orange;
}
/* 
.kind-menu__link {} */











/* ***********MAIN page************ */

.popular--margin-bottom,
.more-popular--margin-bottom,
.proposition--margin-bottom {
	margin-bottom: 70px;

}


.page {
	/*1290px(контейнер з макету +30px з падінгом=1320px+10px на ряд на border */
	max-width: 1330px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;


}

.popular__title {
	color: #2B2929;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}

.popular__title:not(:last-child) {
	margin-bottom: 20px;
}

.popular__box-items {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.popular__item {
	box-shadow: 0 0 7px #97949480;

}

.popular__item:hover,
.more-popular__block:hover {
	outline: 2px solid orange;



}

.item-section {
	flex-basis: 250px;
	flex-grow: 1;
	position: relative;
	border-radius: 8px;
	background-color: #fff;
}

.item-section__text {
	position: absolute;
	color: #2B2929;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	max-width: 130px;
	max-height: 28px;
	left: 20px;
	top: 20px;
}

.item-section__number {
	position: absolute;
	color: #B1B1B1;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
	max-width: 32px;
	max-height: 28px;
	right: 20px;
	top: 20px;
}

/* .item-section__link-img {}

.item-section__img {}

.item-section__link-arrow {} */

.item-section__arrow {
	display: flex;
	align-items: center;
	gap: 10px;
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 20px;

}

.item-section__arrow:hover {
	transform: scale(1.2);
	transition: all 0.2s;
}






.footer {
	position: relative;

	width: 100%;
	min-height: 20px;
	background-color: rgba(255, 208, 138, 0.678);
	padding: 3px;
}

/* .menu-footer {
	

} */
/* 
.menu-footer__list {
	
} */

.menu-footer__item {
	display: inline-flex;
	position: absolute;
	max-height: 100%;
	min-width: 20%;
	color: rgb(255, 121, 4);
	animation: footer-move 10s linear infinite alternate;
	text-transform: uppercase;

}

@keyframes footer-move {
	0% {
		translate: -100% 0;


	}


	100% {
		translate: 500%;

	}
}


.subheader {
	display: flex;


}

.subheader:not(:last-child) {
	margin-bottom: 40px;
}

.subheader>:not(:last-child) {
	margin-right: 30px;
}



.subheader__title {
	color: #2B2929;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
}

.subheader__look-all-link {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: #FFBC57;
	font-size: 19px;
	font-weight: 600;
	line-height: 2.4;

}

.subheader__look-all-link:hover {
	transform: scale(1.1);
	transition: all 0.3s;
	text-decoration: underline;
}


.subheader__look-all-link::after {
	content: '';
	width: 24px;
	flex-shrink: 0;
	height: 24px;
	background: url("../img/icons/look_all_arrow.svg") 0 0 / cover no-repeat;
}



.more-popular__items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.more-popular__block {
	padding: 20px;
	flex-basis: 300px;
	position: relative;

	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 0 7px #97949480
}

.more-popular__block>:not(:last-child) {
	margin-bottom: 20px;
}

.more-popular__image {
	width: 100%;
}

.more-popular__text-size {
	color: #535353;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.69;
	/* 22px/13 */
}

.more-popular__category-text {
	color: #2B2929;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	/* 24px/19 */
	min-height: 48px;
}

.more-popular__availability {
	display: flex;
	gap: 1px;
	color: #2B2929;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.69;
	align-items: center;
	vertical-align: middle;
}

.more-popular__availability::before {
	display: flex;
	align-items: center;
	content: '';
	width: 24px;
	height: 24px;
	background: url("../img/icons/yes_availability_icon.svg") 0 0 / cover no-repeat;




}




/* *******Це практикував з псведоелементами,
 щось не сильно практично в використанні******* */

/* 
.more-popular__price {
	position: relative;
}

.more-popular__price::after{
	position: absolute;
	content: '';
	height: 50px;
	width: 50px;
	background: url("../img/more_popular/icon_basket_more_popular.svg") 0 0 / cover no-repeat;
	right: 0;
	bottom: 0;
}

.more-popular__price::after:hover,
.more-popular__price::before:hover {
			transform: scale(1.1)
}

.more-popular__price::before {
	position: absolute;
	content: '';
	height: 50px;
	width: 50px;
	background: url("../img/more_popular/icon_favorite_more_popular.svg") 0 0 / cover no-repeat;
	right: 60px;
	bottom: 0;
}

.more-popular__discount {
	color: #E03D3D;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46; 
	text-decoration: line-through;

}

.more-popular__now-price {
	color:  #2B2929;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4; 
} */



/* *************************** */

.more-popular__last-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .money {}

.money__price {

} */

.money__discount {
	color: #E03D3D;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46;
	text-decoration: line-through;
}

.money__now-price {
	color: #2B2929;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;
}

.like-buy-icons {
	display: flex;
	gap: 10px;
}

.like-buy-icons__icon-liked {
	border-radius: 50%;
	max-width: 50px;
	min-height: 50px;
}

.like-buy-icons__icon-liked:hover {
	transform: scale(1.1);
	outline: 2px solid orange;
}

.like-buy-icons__basket-icon {
	border-radius: 50%;
	max-width: 50px;
	min-height: 50px;
}

.like-buy-icons__basket-icon:hover {
	transform: scale(1.1);
	outline: 2px solid #a7a6a6;

}

/* 
.proposition__container {} */
/* 
.subheader {} */

/* .subheader__title {} */

/* .subheader__look-all-link {} */


.proposition__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}

.proposition__summer-sale {
	border-radius: 8px;
	flex-basis: 410px;


}

.proposition__summer-sale:hover {

	/* outline: 2px solid orange; */
	box-shadow: 0 0 20px orange, inset 0 0 20px orange;

}