@import url("https://fonts.googleapis.com/css?family=Shantell+Sans:regular,600,800&display=swap");
@import url(fonts.css);
@import url(reset.css);

body {

	font-family: "Proxima Nova", sans-serif;

}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
}

.wrapper>main {
	flex-grow: 1;
}


[class*="__container"] {
		max-width: 1330px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
}


.header {
	position: sticky;
	top: 0;
}
/* *********Перша лінія********** */
.top-header {
background-color: #f8f8f8;
}

.top-header__container{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
}

.contacts {
	display: flex;
	gap: 30px;
	
}

.contacts__list {
	display: flex;
	gap: 30px;
	
}

.contacts__logo 



.contacts__item {
	display: flex;
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
	display: flex;

}

.contacts__link {
		transition: all 0.4s;
}

/* .contacts__link:hover {
	text-decoration: underline;
} */

.help-and-consult {
	display: flex;
}

.help-and-consult__list {
	display: flex;
	align-items: center;
 flex-wrap: nowrap;
 gap: 20px;
}

@media (any-hover: hover) {
	.contacts__link:hover {
		color: rgb(255, 175, 3);
	}
}

.help-and-consult__item {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	color: #535353;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.87;
	gap: 10px;
}

.bar-btn {
	display: none;
}

@media (max-width: 1005px) {
	.help-and-consult__item:nth-child(1) {
		display: none;
	}
}

@media (max-width: 967px) {
	.contacts__list  {
		display: none;
	}
		.bar-btn {
			display: block;
		}

	.main-search__img-logo {
		display: none;
	}
}

.bar-btn__image {}

.contacts__list {}

.contacts__logo{
	display: none;
}
@media (max-width: 966.9px) {
	.contacts__logo {
		display: inline-block;
	}

	
	
}
/* .call-btn {

} */
.call-btn__image {
	display: none;
}




/* .help-and-consult__link {} */
.lang{
	display: flex;
	gap: 0;
	vertical-align: middle;
}

.lang__choose {
	color: #535353;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.26;
	vertical-align: middle;


}

.help-and-consult__icon {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	transition: all 0.2s linear;
}

.help-and-consult__icon:hover {
	transform: scale(1.1);
}

.lang__arrow {
	height: 24px;
	width: 24px;
	vertical-align: middle;
	transition: all 0.5s;
}

.lang__arrow:hover {
	background-color: #53535328;
	border-radius: 3px;
	
}

/* ******************************************* */


/* *************Друга лінія*************** */
.second-header {
	background-color: #fff;
	border-bottom: 2px solid #F8F8F8;

}



.main-search {
	display: flex;
	gap: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	vertical-align: middle;	
}

/* .main-search__logo {} */

.main-search__img-logo {
	width: 250px;
	height: 50px;
	
}

.main-search__button{
	display: inline-flex;
	padding: 11px 20px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background:  #FFBC57;
	color: #FFF;
	font-size: 19px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.263;
	transition: all 0.5s;
	flex-basis: 145px;
	max-height: 46px;
	flex-shrink: 0;
	flex-grow: 0;
}

.main-search__button::before{
	content: '';
	width: 24px;
	height: 24px;
	background: url("../img/icons/header/second_line/menu-catalog.svg") center/ cover no-repeat;
	transition: all 0.3s linear;
}

.main-search__button:hover{
	background: #faca82;
	
}

.main-search__button:hover::before {
	transform: rotate(180deg);
}



/* 
*******Пошук****** */

.search-box {
	display: flex;
	gap: 5px;
	flex-basis: 421px;
	max-height: 50px ;		
	border: 1px solid #B1B1B1;
	border-radius: 8px;
	align-items: center;
	padding: 0 15px;
	transition: all 0.5s;
}

@media (any-hover: hover) {
	.search-box:hover {
		background-color: #a7a6a66e;
	}
}

.search-box__input {
	outline: none;
}

.search-box__input::placeholder {
	color: #B1B1B1;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.87;
}

.search-box__button {}

.search-box__button-img {
	width: 24px;
	height: 24px;
	transition: all 1s;
}



.phone {

	display: flex;
	gap: 10px;
	vertical-align: middle;
	align-items: center;
	flex-shrink: 0;
	flex-basis: 230px;
}


.phone__icon {
	width: 50px;
	height: 50px;

}

.phone__icon:hover {
	animation: rotate-element 0.5s infinite alternate;
}

@keyframes rotate-element {
	0% {
		transform: rotate(30deg);
	}

	100% {
		transform: rotate(-10deg);
	}
}




.phone__info {
	display: flex;
	flex-direction: column;
	max-height: 50px;
	flex: 0 0 136px;
}

.phone__text {
	color: #535353;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.69;

}

.phone__number {

	color: #2B2929;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.4;

}

.phone__number:hover {
	text-decoration: underline;
}

.phone__arrow {
	width: 24px;
	height: 24px;
	transition: all 0.5s ;
}
.phone__arrow:hover {
	transform: scale(1.5);
}

.favourites {
	display: flex;
	gap: 20px;

}
.btn-find {
	border-radius: 50%;
	transition: all 0.2s linear;
	width: 50px;
	height: 50px;
		
}

.btn-find__image {
	border-radius: 50%;
	width: 50px;
	height: 50px;


	
}



.link-favorites {
	border-radius: 50%;
	
	width: 50px;
	height: 50px;
	transition: all 0.2s linear;

}

/* .favorites-icon {} */

.link-basket {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	transition: all 0.2s linear;
}

.link-basket:hover,
.link-favorites:hover,
.btn-find:hover {
	transform: scale(1.05);
	background-color: #53535334;
}

@media (max-width: 1080px) {
	.phone{
		flex-basis: 50px;
	}

	.phone__arrow {
		display: none;

		}
		.phone__info{
			display: none;}

		

}




/* .basket {} */
/* ************************************ */


/* **********ТРЕТЯ ЛІНІЯ ХЕДЕРА************ */
.third-header {
	background-color: #fff;
	
}
.third-header__container {
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
	padding-bottom: 18px;
}


/* .header-proposition {} */

.header-proposition__list {
	display: flex;
	gap: 40px;
}

.header-proposition__item {
	display: flex;
	gap: 10px;
	align-items: center;
	border-radius: 8px;
	justify-content: space-between;
}

.header-proposition__item:hover {
	outline: 2px solid orange;
}

.header-proposition__icon {
	height: 24px;
	width: 24px;
}

.header-proposition__text {
	color: #535353;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
}

/* .kind-menu {} */

.kind-menu__list {
	display: flex;
	gap: 40px;
}

.kind-menu__item {
	color: #535353;
	font-size: 19px;
	font-weight: 600;
	line-height: 1.26;
	border-radius: 8px;

}

.kind-menu__item:hover {
	outline: 2px solid orange;
}

@media (max-width: 1270px) {
.third-header__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
		
	}
}
@media (max-width: 740px) {
	.kind-menu {
		display: none;
	}
}

@media (max-width: 720px) {
	.search-box {
		display: none;
	}

	.main-search {
		justify-content: space-between;
	}
	.phone {
		display: none;
	}

	.call-btn__image {
		width: 50px;
		height: 50px;
		display: inline-block;
		}
	.help-and-consult__item {
		display: none;
	}
}


@media (max-width: 720px) {

	.main-search {
		justify-content: center;
	}

.third-header__container {
	display: none;
}

	.call-btn__image {
		width: 50px;
		height: 50px;
		display: inline-block;
	}

	.help-and-consult__item {
		display: none;
	}

	/* .contacts__logo {
	display: flex;
	width: 215px;
	height: 36px;
	flex-shrink: 0;
	}

.top-header__container {
	justify-content: space-between;
	gap: 5px;
}
.contacts {
	gap: 5px;
}
.call-btn__image {
flex-shrink: 0;
width: 50px;
height: 50px;
}

.main-search {
	gap: 10px;
} */
}


@media (max-width: 420px) {

		.contacts__logo {
				display: flex;
				width: 215px;
				height: 36px;
				flex-shrink: 0;
			}
		
			.top-header__container {
				justify-content: space-between;
				gap: 5px;
			}
		
			.contacts {
				gap: 5px;
			}
		
			.call-btn__image {
				flex-shrink: 0;
				width: 50px;
				height: 50px;
			}
		
			.main-search {
				justify-content: space-between;
				gap: 10px;
			}

			.favourites {
				gap: 5px	;
			}


}








