@use "sass:math";
@import "_fonts.scss";
@import "_reset.scss";
@import "_mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");


$mainColor: #000;
$main-bg: #fff;

// Мінімальна ширина сторінки@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1320;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1320;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

body {
	font-family: 'Open Sans', sans-serif;
	color: $mainColor;
	background-color: $main-bg;
	opacity: 0;
	transition: opacity 4s;

}

.loaded {
	opacity: 1;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: toRem(1350);
	padding-left: toRem(15);
	padding-right: toRem(15);
	margin: 0 auto;

}

.header,
.footer {
	background-color: #ffcc02;
	padding: toRem(20);
	font-weight: 600;
	font-size: toRem(40);
	text-align: center;
	text-transform: uppercase;
}

.header--margin {
	margin-bottom: toRem(20);
}

.wrapper {}

.page {}


.tasks {

	// .tasks__container

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: toRem(50);
	}

	&__container--margin {
		margin-bottom: toRem(30);
	}
}

.part {
	display: flex;
	flex-direction: column;
	row-gap: toRem(20);

	// .part__task

	&__task {
		font-weight: 600;
		font-size: toRem(23);
	}

	// .part__question

	&__question {
		display: flex;
		flex-direction: column;
		row-gap: toRem(5);
	}

	// .part__variant

	&__variant {}

	// .part__answer

	&__answer {
		display: flex;
		flex-direction: column;
		row-gap: toRem(20);
		font-size: toRem(20);
		padding: toRem(10);
		background-color: green;
		border-radius: toRem(8);
		line-height: 1.2;
	}



}


.first {

	// .first__items

	&__items {
		display: flex;
		column-gap: toRem(20);

	}

	// .first__item

	&__item {
		padding: toRem(20);
		background-color: #ffcc02;
		border-radius: toRem(8);

	}
}



.four {

	// .four__text

	&__text {}

	// .four__block
	&__items {
		width: toRem(100);
		height: toRem(100);


	}


	&__item {
		width: 90%;
		height: 90%;
		background-color: #ffcc02;
		border-radius: toRem(10);
		transform: translate(-200%, 0px);
		transition: all 3s;
	}



	// .four__number

	&__number {
		text-align: center;
		font-size: toRem(80);
		vertical-align: middle;
		color: darkblue;
	}
}


.animate {
	background-color: #ff0202;
	transform: translate(0px, 0px);
}